.imagen-asesor {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 75%;
  max-width: 280px;
}

@media (min-width: 768px) {
  .imagen-asesor {
    width: 50%;
    max-width: 220px;
  }
}

@media (min-width: 992px) {
  .imagen-asesor {
    width: 40%;
    max-width: 200px;
  }
}

    body {
      font-family: 'Poppins', sans-serif;
    }
    .hero {
      background-image: url(assets/lotus-design-unsplash.jpg);
      background-size:cover;
      background-position: center;
      color: #343a40;
      padding: 100px 20px;
      text-align: center;
      min-height: 400px;
    }

    .hero h1 {
      color: #343a40;
    }

    .lead {
      color: #000;
    }
    .formulario {
      background-color: #f8f9fa;
      padding: 40px;
      border-radius: 10px;
    }
    footer {
      background-color: #343a40;
      color: white;
      padding: 20px;
    }

    .nav-link {
      color: #343a40 !important;
    }
.carousel-caption h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5); /* fondo semi-transparente */
  padding: 10px;
  border-radius: 5px;
}

